doctype html
html
	head
		include ../includes/_head.pug
		include ../includes/_javascript.pug

	body
		.layui-layout.layui-layout-admin
			include ../includes/_nav.pug
			include ../includes/_sidenav.pug
			
			.layui-body
				block content
			//- include ../includes/_foot.pug
