extends ../layouts/_layout.pug

block content
  fieldset.layui-elem-field.layui-field-title 
    legend softwind 开发进度

  ul.layui-timeline
    li.layui-timeline-item
      i.layui-icon.layui-timeline-axis &#xe63f;
      .layui-timeline-content.layui-text
        .layui-timeline-title 9月14日, 基本完成用户/分类/文章模块

  ul.layui-timeline
    li.layui-timeline-item
      i.layui-icon.layui-timeline-axis &#xe63f;
      .layui-timeline-content.layui-text
        .layui-timeline-title 8月31日, softwind 规划与思考

  ul.layui-timeline
    li.layui-timeline-item
      i.layui-icon.layui-anim.layui-anim-rotate.layui-anim-loop.layui-timeline-axis &#xe63e;
      .layui-timeline-content.layui-text
        .layui-timeline-title 更早, 各种架构的思考与尝试