script(src='/admin/scripts/jquery-2.1.4.min.js')
script(src='/admin/scripts/layui/layui.js')
script(src='/admin/scripts/highlight/highlight.pack.js')
script(src='/admin/scripts/common.js')
script hljs.initHighlightingOnLoad();
