.layui-header
  a.layui-logo(href='/admin')
    img(src="/admin/images/logo_white.png", alt="")
  ul.layui-nav.layui-layout-left
    li.layui-nav-item
      a(href='/admin/census/timeline') 时间线
    |       
    li.layui-nav-item
      a(href='') 商品管理
    |       
    li.layui-nav-item
      a(href='') 用户
    |       
    li.layui-nav-item
      a(href='javascript:;') 其他系统
      |
      dl.layui-nav-child
        dd
          a(href='') 邮件管理
        |           
        dd
          a(href='') 消息管理
        |           
        dd
          a(href='') 授权管理
  |     
  ul.layui-nav.layui-layout-right
    li.layui-nav-item
      a(href='javascript:;')
        img
        | admin
      |         
      dl.layui-nav-child
        dd
          a(href='') 基本资料
        |           
        dd
          a(href='') 安全设置
    |       
    li.layui-nav-item
      a(href='') 退出
